/* ==========================================================================
Settings
========================================================================== */

// The font family
$sans          	      : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$gothic             	: "メイリオ",Meiryo,"MS PGothic","MS Ｐゴシック","ヒラギノ角ゴ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro"!default;
$serif            	  : Georgia, Cambria, "Times New Roman", Times, serif!default;
$monospace          	: "Bitstream Vera Sans Mono", Consolas, Courier, monospace!default;

// Base the color
$primary-color      	: #222;
$secondary-color    	: #444;

// Font font weight
$font-weight-regular 	: 400;
$font-weight-medium 	: 600;
$font-weight-bold 		: 700;