/* ==========================================================================
Content
========================================================================== */

.section_box{
	height: 900px;
	&#sec1{
		background: #efefef;
	}
	&#sec2{
		background: #01A59F;
	}
	&#sec3{
		background: #D6282E;
	}
	&#sec4{
		background: #fff;
	}
	&#sec5{
		background: #000;
	}
}













